[Unit]
Description=Telegram Love Messages Bot
After=network.target

[Service]
Type=simple
User=mohamed
WorkingDirectory=/opt/telegram_voice_project
ExecStart=/opt/telegram_voice_project/.venv/bin/python /opt/telegram_voice_project/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
